.container {
    width: 1440px;
    margin: auto;
    box-sizing: border-box;
    background: #FFF;
}
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid #EBE8F4;
}
.hdr_logo {
    color: #22202E;
    font-family: 'Montserrat', serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.hdr_menu {
    display: inline-flex;
    align-items: flex-start;
    gap: 44px;
}
.hdr_menu_item {
    color: #726E8D;
    font-family: "Open Sans", serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.hdr_actions {
    display: inline-flex;
    align-items: flex-start;
    width: 80px;
    height: 16px;
    gap: 16px;
}
.hdr_actions_src {
    width: 16px;
    height: 16px;
    background-image: url("/images/search.png");
}
.hdr_actions_sh_c {
    width: 16px;
    height: 16px;
    background-image: url("/images/shopping_cart.png");
}
.hdr_actions_user {
    width: 16px;
    height: 16px;
    background-image: url("/images/user_ava.png");
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}
.mn_title {
    color: #2A254B;
    font-family: 'Montserrat', serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 50.4px */
    text-align: center;
}
.mn_filters {
    display: flex;
    justify-content: space-between;
    width: 1280px;
    height: 64px;
    margin-top: 24px;
    align-items: center;
}
.mn_filters_bar {
    display: flex;
    padding: 12px 24px;
    align-items: center;
    gap: 8px;
}
.mn_filters_sort {
    display: flex;
    align-items: center;
    padding: 12px 24px;
    gap: 16px;
}
.product {
    display: grid;
    grid-template-columns: repeat(4, 305px);
    grid-template-rows: repeat(3, 462px);

    margin-top: 36px;
    grid-column-gap: 20px;
    grid-row-gap: 56px;
}
.product_cart {
    display: flex;
    flex-direction: column;
}
.product_img {
    width: 305px;
    height: 375px;
}
.product_name {
    color: #2A254B;
    font-family: 'Montserrat', serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
    margin-top: 24px;
    margin-bottom: 8px;
}
.product_price {
    color: #2A254B;
    font-family: "Open Sans", serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
}
.mn_btn_view {
    display: inline-flex;
    width: 175px;
    height: 56px;
    margin-top: 50px;
    background: #F9F9F9;
    justify-content: center;
    align-items: center;
    color: #2A254B;
    font-family: "Open Sans", serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}
.join_club {
    width: 1440px;
    height: 521px;
    margin-top: 40px;
    background-image: url("/images/join_club.png");
    background-size: 720px 521px;
    background-repeat: no-repeat;
}
.join_club_card {
    margin-left: 770px;
    margin-top: 70px;
}
.join_title {
    color: #2A254B;
    font-family: 'Montserrat', serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.join_massage {
    color: #2A254B;
    font-family: "Open Sans", serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    margin-top: 22px;
    width: 470px;
}
.sign_up_btn {
    width: 120px;
    height: 56px;
    background: #2A254B;
    margin-top: 216px;
    margin-left: 22px;
    color: #FFF;
    font-family: "Open Sans", serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}
.footer {
    display: flex;
    flex-direction: column;
    background: #2A254B;
}
.ftr_nav {
    display: flex;
    justify-content: space-between;
    width: 1280px;
    margin-top: 60px;
    margin-left: 82px;
    border-bottom: 1px solid #4E4D93;
}
.ftr_nav_list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.ftr_nav_category {
    color: #FFF;
    font-family: 'Montserrat', serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.ftr_nav_item {
    color: #FFF;
    font-family: "Open Sans", serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.ftr_map {
    display: flex;
    width: 642px;
    height: 250px;
    background-image: url("/images/map.png");
    background-repeat: no-repeat;
}
.ftr_bottom {
    display: flex;
    justify-content: space-between;
    width: 1280px;
    margin-left: 80px;
    height: 70px;
    align-items: center;
}
.ftr_copy {
    color: #FFF;
    font-family: "Open Sans", serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.ftr_social {
    display: inline-flex;
    align-items: flex-start;
    gap: 24px;
}
.linkedin {
    background-image: url("/images/logo--linkedin.svg") ;
    background-repeat: no-repeat;
    display: flex;
    width: 24px;
    height: 24px;
}
.facebook {
    background-image: url("/images/logo--facebook.svg");
    background-repeat: no-repeat;
    display: flex;
    width: 24px;
    height: 24px;
}
.instagram {
    background-image: url("/images/logo--instagram.svg");
    background-repeat: no-repeat;
    display: flex;
    width: 24px;
    height: 24px;
}
.skype {
    background-image: url("/images/logo--skype.svg");
    background-repeat: no-repeat;
    display: flex;
    width: 24px;
    height: 24px;
}
.twitter {
    background-image: url("/images/logo--twitter.svg");
    background-repeat: no-repeat;
    display: flex;
    width: 24px;
    height: 24px;
}
.pinterest {
    background-image: url("/images/logo--pinterest.svg");
    background-repeat: no-repeat;
    display: flex;
    width: 24px;
    height: 24px;
}